<%= render 'layouts/header' %>
<% @summary.each do |s| %>
    <h1><%= "#{s[:month]}-2014"%></h1>
    <br>
    <table width="20%">
      <thead>
        <tr>
          <th colspan="2">Financial Summary (SGD)</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="item">Total Income:</td>
            <td class="value-display"><%= s[:cost_summary][:income] %></td>
          </tr>
          <tr>
            <td class="item">Total Expense:</td>
            <td class="value-display"><%= s[:cost_summary][:expense] %></td>
          </tr>
          <tr>
            <td class="item">Total Savings:</td>
            <td class="value-display"><%= s[:cost_summary][:savings] %></td>
          </tr>
      </tbody>
    </table>
    <br><br>
    <table width="20%">
      <thead>
        <tr>
          <th colspan="2">Category Wise Summary (SGD)</th>
        </tr>
      </thead>
      <tbody>
          <% s[:category_summary].each do |cs| %>
            <% if cs[:amount] > 0 %>
              <tr>
                <td class="item"><%= cs[:category] %>:</td>
                <td class="value-display"><%= formatted_currency(cs[:amount]) %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
    <br><br>
    <table width="80%">
      <thead>
        <tr class="header">
          <th colspan="6">Transactions</th>
        </tr>
        <tr>
          <th class="t-id">ID</th>
          <th class="t-date">Date</th>
          <th class="t-description">Description</th>
          <th class="t-type">Category</th>
          <th class="t-amount">Income (SGD)</th>
          <th class="t-amount">Expense (SGD)</th>
        </tr>
      </thead>
      <tbody>
      <% counter = 1 %>
      <% s[:transactions].each do |transaction| %>
          <% if counter.even? %>
              <tr class="alt">
          <% else %>
              <tr>
          <% end %>
          <td class="t-id"><%= transaction.id %></td>
          <td class="t-date"><%= transaction_date(transaction.day, transaction.month.name, transaction.year) %></td>
          <td><%= transaction.name %></td>
          <td><%= transaction.category.name %></td>
          <% if transaction.category.credit? %>
              <td class="t-amount"><%= formatted_currency(transaction.amount) %></td>
              <td class="t-amount"></td>
          <% else %>
              <td class="t-amount"></td>
              <td class="t-amount"><%= formatted_currency(transaction.amount) %></td>
          <% end %>
          </tr>
          <% counter += 1 %>
      <% end %>
      </tbody>
    </table>
    <br>
<% end %>
