<%= render 'layouts/header' %>
<table class="add-link">
  <tr>
    <td class="add-link-image"><%= image_tag('add-icon.png', size: '40x40') %></td>
    <td class="add-link-text"><%= link_to 'Add Category', new_category_path %></td>
  </tr>
</table>
<br><br>
<table width="40%">
  <thead>
    <tr>
      <th class="c-id">ID</th>
      <th class="c-description">Name</th>
      <th class="c-type">Type</th>
      <th class="c-hidden"></th>
    </tr>
  </thead>
  <tbody>
    <% counter = 1 %>
    <% @categories.each do |category| %>
      <% if counter.even? %>
      <tr class="alt">
      <% else %>
      <tr>
      <% end %>
        <td class="c-id"><%= category.id %></td>
        <td><%= category.name %></td>
        <% if category.credit? %>
            <td>Income</td>
        <% else %>
            <td>Expense</td>
        <% end %>
          <td class="c-actions">
            <%= link_to(image_tag('edit-icon.png', size: '30x30'), edit_category_path(category))%>
            &nbsp; &nbsp;
            <%= link_to(image_tag('delete-icon.png', size: '30x30'), category, method: :delete, data: { confirm: 'Are you sure?' }) %>
          </td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </tbody>
</table>


