<%= render 'layouts/header' %>
<table class="add-link">
  <tr>
    <td class="add-link-image"><%= image_tag('add-icon.png', size: '40x40') %></td>
    <td class="add-link-text"><%= link_to 'Add Transaction', new_transaction_path %></td>
  </tr>
</table>
<br>
<table width="80%">
  <thead>
    <tr>
      <th class="t-id">ID</th>
      <th class="t-date">Date</th>
      <th class="t-description">Description</th>
      <th class="t-type">Category</th>
      <th class="t-amount">Income (SGD)</th>
      <th class="t-amount">Expense (SGD)</th>
      <th class="t-hidden"></th>
    </tr>
  </thead>
  <tbody>
    <% counter = 1 %>
    <% @transactions.each do |transaction| %>
    <% if counter.even? %>
      <tr class="alt">
    <% else %>
      <tr>
    <% end %>
        <td class="t-id"><%= transaction.id %></td>
        <td class="t-date"><%= transaction_date(transaction.day, transaction.month.name, transaction.year) %></td>
        <td><%= transaction.name %></td>
        <td><%= transaction.category.name %></td>
        <% if transaction.category.credit? %>
          <td class="t-amount"><%= number_with_precision(transaction.amount, precision: 2) %></td>
          <td class="t-amount"></td>
      <% else %>
          <td class="t-amount"></td>
          <td class="t-amount"><%= number_with_precision(transaction.amount, precision: 2) %></td>
      <% end %>
      <td class="t-actions">
        <%= link_to(image_tag('edit-icon.png', size: '30x30'), edit_transaction_path(transaction))%>
        &nbsp; &nbsp;
        <%= link_to(image_tag('delete-icon.png', size: '30x30'), transaction, method: :delete, data: { confirm: 'Are you sure?' }) %>
      </td>
      </tr>
      <% counter += 1 %>
    <% end %>
  </tbody>
</table>
